<%= form_with(model: task) do |form| %>
<% if task.errors.any? %>
<div style="color: red">
    <h2><%= t(
        "errors.messages.not_saved", 
        count: task.errors.count,
        resource: Task.model_name.human
    )%> </h2>

    <ul>
        <% task.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
</div>

<div>
    <%= form.label :due_on, style: "display: block" %>
    <%= form.date_field :due_on %>
</div>

<div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status,
          Task.statuses.keys.map {|k| [t("activerecord.attributes.task.statuses.#{k}"), k ]} 
          %>
</div>

<div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.select :priority,
    Task.priorities.keys.map {|k|[t("activerecord.attributes.task.priorities.#{k}"), k ]} 
    %>
</div>

<div>
    <%= form.submit %>
</div>
<% end %>