<div id="<%= dom_id task %>">
    <p>
        <strong><%= Task.human_attribute_name(:title) %>:</strong>
        <%= task.title %>
    </p>

    <p>
        <strong><%= Task.human_attribute_name(:description) %>:</strong>
        <%= task.description %>
    </p>

    <p>
        <strong><%= Task.human_attribute_name(:due_on) %>:</strong>
        <%= task.due_on %>
    </p>

    <p>
        <strong><%= Task.human_attribute_name(:status) %>:</strong>
        <%= task.status_i18n %>
    </p>

    <p>
        <strong><%= Task.human_attribute_name(:priority) %>:</strong>
        <%= task.priority_i18n %>
    </p>

    <p>
        <%= link_to t("tasks.index.show"), task %>
    </p>

</div>