<p style="color: green"><%= notice %></p>

<% content_for :title, t("tasks.index.title") %>

<div class="max-w-3xl mx-auto p-6">

    <aside class="w-64 fixed top-20 left-0 h-[calc(100vh-5rem)] bg-gray-50 border-r border-gray-200 p-5 overflow-y-auto">

        <%= form_with url: tasks_path, method: :get, local: true do %>
        <div class="flex flex-col mb-4">
            <%= label_tag :status, t("tasks.filters.status") %>
            <%= select_tag :status,
          options_for_select(
            Task.statuses.keys.map { |k| [t("activerecord.attributes.task.statuses.#{k}"), k] },
            params[:status]
          ),
          include_blank: t("tasks.filters.all") %>
        </div>

        <div>
            <%= label_tag :sort, t("tasks.filters.sort") %>
            <%= select_tag :sort,
          options_for_select(
            [
              [t("tasks.filters.sort_options.due_on_asc"), "due_on_asc"],
              [t("tasks.filters.sort_options.priority_desc"), "priority_desc"],
              [t("tasks.filters.sort_options.created_at_desc"), "created_at_desc"]
            ],
            params[:sort]
          ) %>
        </div>

    </aside>

    <h1 class="text-lg font-bold mb-4">
        <%= t("tasks.index.heading") %>
    </h1>

    <div id="tasks" class="space-y-4 mb-6">
        <% @tasks.each do |task| %>
        <%= render task %>

        <% end %>
    </div>

    <%= link_to t("tasks.index.new_task"), new_task_path %>



    <%= submit_tag t("tasks.filters.apply") %>
    <% end %>
</div>