<p style="color: green"><%= notice %></p>

<% content_for :title, t("tasks.index.title") %>

<h1><%= t("tasks.index.heading") %></h1>

<div id="tasks">
    <% @tasks.each do |task| %>
    <%= render task %>
    <p>
        <%= link_to t("tasks.index.show"), task %>
    </p>
    <% end %>
</div>

<%= link_to t("tasks.index.new_task"), new_task_path %>

<%= form_with url: tasks_path, method: :get, local: true do %>
<div>
    <%= label_tag :status, t("tasks.filters.status") %>
    <%= select_tag :status,
          options_for_select(
            Task.statuses.keys.map { |k| [t("activerecord.attributes.task.statuses.#{k}"), k] },
            params[:status]
          ),
          include_blank: t("tasks.filters.all") %>
</div>

<div>
    <%= label_tag :sort, t("tasks.filters.sort") %>
    <%= select_tag :sort,
          options_for_select(
            [
              [t("tasks.filters.sort_options.due_on_asc"), "due_on_asc"],
              [t("tasks.filters.sort_options.priority_desc"), "priority_desc"],
              [t("tasks.filters.sort_options.created_at_desc"), "created_at_desc"]
            ],
            params[:sort]
          ) %>
</div>

<%= submit_tag t("tasks.filters.apply") %>
<% end %>